@inherits LayoutComponentBase

<PageTitle>RIDALOT</PageTitle>

<div class="page">
	<!--Menu-->
	<div class="sidebar">
		<NavMenu />
	</div>

	<main>
		<!--User info, login button-->
		<div class="top-row px-4">
			<LoginControl />
		</div>
		<!--Main Body-->
		<article class="content px-4">
			@Body
		</article>
	</main>
</div>
