@inherits LayoutComponentBase

<PageTitle>RIDALOT</PageTitle>

<style>
a.basic:link {text-decoration: none; color: blue;}
a.basic:hover {text-decoration: underline;}
</style>

<div class="page">
	<!--Menu-->
	<div class="sidebar">
		<NavMenu />
	</div>

	<main>
		<!--User info, buttons-->
		<div class="top-row px-4">
			<LoginControl />
			<a class="basic" href="profile">profile</a>
		</div>
		<!--Main Body-->
		<article class="content px-4">
			@Body
		</article>
	</main>
</div>
