<!-- NavMenu Header(name and home button) -->
<div class="top-row ps-3 navbar navbar-dark">
	<div class="container-fluid">
		<a class="navbar-brand" href="">RIDALOT</a>
		<button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
			<span class="navbar-toggler-icon"></span>
		</button>
	</div>
</div>
<!--Tabs-->
<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
	<nav class="flex-column">
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="" Match="NavLinkMatch.All">
				<span class="oi oi-home" aria-hidden="true"></span> Home
			</NavLink>
		</div>
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="createad">
				<span class="oi oi-list-rich" aria-hidden="true"></span> Create an ad
			</NavLink>
		</div>
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="feed">
				<span class="oi oi-list-rich" aria-hidden="true"></span> Feed
			</NavLink>
		</div>
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="myposts">
				<span class="oi oi-list-rich" aria-hidden="true"></span> My Posts
			</NavLink>
		</div>
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="mytasks">
				<span class="oi oi-list-rich" aria-hidden="true"></span> My Tasks
			</NavLink>
		</div>
	</nav>
</div>

@code {
	private bool collapseNavMenu = true;

	private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

	private void ToggleNavMenu()
	{
		collapseNavMenu = !collapseNavMenu;
	}
}
