@page "/feed"

<PageTitle>Feed</PageTitle>

<h1>Feed</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Date uploaded</th>
                <th>Image</th>
                <th>Description</th>
                <th>Measurements</th>
                <th>Estimated price</th>
                <th>Adresas</th>
                <th>Žiūrėti skelbimą</th>
            </tr>
        </thead>
        <tbody>

            
                <tr>
                    <td>09/21/2022</td>
            <td><img src="https://img.furniture1.eu/v7/_im_/detailed/2499/2499117.jpg" style="height:200px;max-width:500px;width: auto;" /></td>
                    <td>Žr gera sofa, bet reik, kad ižvežtu </td>
                    <td>didelė</td>
                    <td>25e</td>
                    <td>Didlaukio g. 29</td>
            <td> <button class="btn btn-primary">Priimti užsakymą</button> </td>
                </tr>
            
        </tbody>
    </table>