@page "/"

<div class="jumbotron text-center">
</div>

<div id="about" class="container-fluid">
  <div class="row">
    <div class="col-sm-8">
      <h2>About RidALot</h2>
      <p>
        Our company is dedicated to helping households, businesses, and organizations dispose of large waste items in a responsible and environmentally-friendly manner.
        Whether you need to get rid of old furniture, appliances, construction debris, or other bulky items, we have the expertise and resources to handle the job.
        We pride ourselves on our commitment to sustainability and strive to minimize the impact of waste on the environment.
        Let us take the burden of large waste removal off your hands – create a
                <Link href="/createad" Style="color:black"><b>post</b></Link> today, and never worry about large waste again.
        Or <Link href="/profile" Style="color:black"><b>join</b></Link> us in our mission and become part of our team!
      </p>
      <br/>
    </div>
    <div class="col-sm-4">
            <Image Source="/images/icons8-recycle-240.png" Style="position:relative;top:30px; left:20px"></Image>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4">
        <Image Source="/images/image.png" Style="height:300px; width: auto; position:relative; top:150px"></Image>
    </div>
    <div class="col-sm-8">
      <h2>Our Values</h2><br>
      <h4><strong>MISSION:</strong>
        Our mission is to provide efficient and environmentally responsible waste removal services to our clients,
        helping them to minimize the impact of their waste on the environment and their local communities. 
        We strive to be a leader in the waste removal industry by implementing innovative and sustainable waste management practices,
        and by continuously improving our services to better meet the needs of our clients.
      </h4><br>
      <h4><strong>VISION:</strong>
        <ul>
            <li>Responsibility: We take responsibility for the impact of our actions on the environment and our communities,
                and strive to minimize the negative impacts of waste on the planet.</li>
            <li>Integrity: We conduct our business with honesty and transparency, and strive to be a trustworthy partner for our clients.</li>
            <li>Innovation: We are committed to continuously improving our services and finding new and better ways to manage waste.</li>
            <li>Customer service: We prioritize the needs and satisfaction of our clients, and strive to provide exceptional customer service at every stage of the waste removal process.</li>
            <li>Safety: We prioritize the safety of our employees, clients, and the communities in which we work, and adhere to all relevant safety regulations and standards.</li>
        </ul>
      </h4>
    </div>
  </div>
</div>

<div id="services" class="container-fluid text-center" style="background-color:rgba(41,27,27,1); color:white; border-radius: 25px;padding:25px">
  <h2 style="color:white">SERVICES</h2>
  <div class="row slideanim">
    <div class="col-sm-4">
            <i class="bi bi-2-circle" style="color:white"></i>
            <h4 style="color:white">Residential waste removal</h4>
            <p>Helping households dispose of their waste in an environmentally responsible way.</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-heart logo-small"></span>
            <h4 style="color:white">Commercial waste removal</h4>
            <p>Helping businesses manage their waste and comply with local regulations.</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-lock logo-small"></span>
            <h4 style="color:white">E-waste removal</h4>
            <p>Collecting and disposing of electronic waste, such as old computers, phones, and other electronic devices.</p>
    </div>
  </div>
  <br><br>
  <div class="row slideanim">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-leaf logo-small"></span>
            <h4 style="color:white">Junk removal</h4>
            <p>Collecting and disposing of large or unwanted items, such as old furniture, appliances, and other household items.</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-certificate logo-small"></span>
            <h4 style="color:white">Recycling services</h4>
            <p>Collecting and separating recyclable materials, such as paper, plastic, and metal, for processing and reuse.</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-wrench logo-small"></span>
            <h4  style="color:white">Waste consultation</h4>
            <p>Providing advice and guidance to clients on how to reduce their waste and improve their waste management practices.</p>
    </div>
  </div>
</div>

<div id="contact" class="container-fluid">
    <br />
  <h2 class="text-center">CONTACT</h2>
  <div class="row">
    <div class="col-sm-5">
      <p>Contact us and we'll get back to you within 24 hours.</p>
      <p>Vilnius, Lithuania</p>
      <p>ridalot.info@gmail.com</p>
    </div>
    <div class="col-sm-7 slideanim">
      <div class="row">
        <div class="col-sm-6 form-group">
          <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
        </div>
        <div class="col-sm-6 form-group">
          <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
        </div>
      </div>
      <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea><br>
      <div class="row">
        <div class="col-sm-12 form-group">
          <button class="button" type="submit" style="align-content:end">Send</button>
        </div>
      </div>
    </div>
  </div>
</div>
