
@page "/Sign_in"


<meta name="google-signin-client_id" content="1083990770922-6ig5ldtb1ak5cufatm0lbd3s55gtlr60.apps.googleusercontent.com">

<h3>Sign in</h3>


<div class="g-signin2" data-onsuccess="onSignIn"></div>



@code {

}
