@page "/profile"
@using Pages
@using Data
@using System.Text.Json
@using System.Text.Json.Serialization
@inject NavigationManager NavMan
@inherits LoginControl
<h3>Profile</h3>
<th><button type="submit" class="btn btn-success" onclick="@Clicked">Become a worker</button></th>
@if (popup)
{
	<AdPopUp Title="Welcome"
		 Text="You became a worker successfully!"
		 OnClose="@ClosePopup"
		 DialogType="AdPopUp.ModalDialogType.Ok">
	</AdPopUp>
}
@if (popup1)
{
	<AdPopUp Text="You are already a worker"
		OnClose="@ClosePopup1">
		</AdPopUp>
}
@code {
	public bool popup { get; set; } = false;
	public bool popup1 { get; set; } = false;
	public String file = "WorkerInfo.json";
	List<Worker>? workers;
	public void Clicked()
    {
        ReadPost<Worker> worker = new ReadPost<Worker>();
        worker.LoadJson("WorkerInfo.json");
        if (worker.posts == null)
        {
            string jsonString = JsonSerializer.Serialize(worker.Add(returnWorker()));
            File.WriteAllText(file, jsonString);
            popup = true;
        }
        else
        {
            popup1 = true;
        }
    }
    private Worker returnWorker()
    {
        Worker worker = new Worker();
        worker.Email = c.Email;
		worker.Phone = "";
		return worker;
	}
	private async Task ClosePopup(bool accepted)
	{
		popup = false;
		StateHasChanged();
	}
	private async Task ClosePopup1(bool accepted)
	{
		popup1 = false;
		StateHasChanged();
	}
}
